body{
	color:#40514E
margin:0;
text-align:center;
font-family:'Merriweather', serif;
}
p{
	line-height:2;
}
h1{
	color:#66BFBF;
	font-size:3em;
	width:30%;
	margin:0 auto 0 auto;
	font-family: 'Sacramento', cursive;
}
h2{
	color:#66BFBF;
	font-family: 'Montserrat', sans-serif;
		
	font-weight:normal;
	padding-bottom:10px;
}
h3{
	color:#66BFBF;
}
hr{
	border:dotted #66BFBF 6px;
	border-bottom:none;
	width:4%;
	margin:100px auto;
	}

	a{
		color:#11999E;
		font-family: 'Montserrat', sans-serif;
		margin:10px 20px;
		text-decoration:none;
	}
	a:hover{
		color:#EAF6F6;
	}
	
		


.skill-row{
	width:50%;
	margin:100 auto 100 auto;
	text-align:left;
	
}
.skillimage{
	width:25%;
	float:left;
	margin-right:40px;
}
.dataimage{
	width:25%;
	float:right;
	margin-left:40px;
}

.intro{
	width:30%;
	margin:auto;
}


.top-container{background-color:#E4F9F5;}
.bottom-cloud{
	position:absolute;
}
.top-container{
	position:relative;
	padding-top:100px;
}
.middle-container{
margin:100px 0;
}
.bottom-container{
	background-color:#66BFBF;
	padding:50px 0 20px;
}
.top-cloud{
position:absolute;
right:350px;
top:50px;
}


.btn {
  background: #66BFBF;
  background-image: -webkit-linear-gradient(top, #66BFBF, #132936);
  background-image: -moz-linear-gradient(top, #66BFBF, #132936);
  background-image: -ms-linear-gradient(top, #66BFBF, #132936);
  background-image: -o-linear-gradient(top, #66BFBF, #132936);
  background-image: linear-gradient(to bottom, #66BFBF, #132936);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #163242;
  background-image: -webkit-linear-gradient(top, #163242, #189ef7);
  background-image: -moz-linear-gradient(top, #163242, #189ef7);
  background-image: -ms-linear-gradient(top, #163242, #189ef7);
  background-image: -o-linear-gradient(top, #163242, #189ef7);
  background-image: linear-gradient(to bottom, #163242, #189ef7);
  text-decoration: none;
}



